<!--Modal: modalOperations-->
<div class="modal fade" id="modalOperation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md modal-notify modal-danger" role="document">
		<div class="modal-content text-center">
			<div class="modal-header">


				<h5 class="modal-title" id="exampleModalLabel"></h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="formulaire">
				<form method="post" action="{}" id="titreModal">
					<div class="modal-body">
						<div class="form-group row" id="update_profil">
							<input type="text" class="form-control"  id="profil" value="">
						</div>
						<div class="form-group row" id="update_email">
							<label for="Email" class="col-sm-4 col-3 col-form-label" id="email">Email</label>
							<div class="col-sm-8 col" >
								<input type="text" required="required" class="form-control" id="Email"  name="Email">
							</div>
						</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    </div> 


